#completeText{
    margin-top: 10%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.row div{
    width: 10%;
}

.row > div p{
    font-size: 4em;
}

.textInput{
    width: 100%;
    border: none;
    border-bottom: solid 1px #295e5a;
    padding: 2%;
    font-size: 3em;
}