.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

.row img{
    width: 60%;
}

.text{
    width: 70%;
    font-size: 3em;
}

.inputDiv{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.imageDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imageNumber{
    font-size: 2em;
}

.numberInput{
    width: 25%;
    border: none;
    border-bottom: solid 1px #295e5a;;
    padding: 2%;
    font-size: 3em;
}