*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.return {
    display:flex;
    justify-content:center;
    width: 100%;
}

.return > button {
    width: 30%;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53
}