
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body
{
    width:100%;
    height:100%;
}
#contenuto
{
    padding-top: 200px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

#contenuto2
{
    animation: slideDown 1s forwards;
}

img
{
    height:50vh;
    width:60vh;
}

button
{
    width: 30%;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}