@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html {
  margin: 0px;
  height: 100%;
}

body{
  margin: 0px;
  height: 100%;
  background-color: #52d1c6bd;

}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
