table {
    width: 80%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

table, th, td {
    border: 0 solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    display: inline;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
}



.input-number {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #199A8E;
    border-radius: 3px;
    color: #199A8E;
}

.input-number:focus {
    outline: none;
    border-color: #145C53;
    box-shadow: 0 0 5px rgba(25, 154, 142, 0.5);
}