@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --x-8a-36-5e: rgba(178, 34, 34, 1);
  --fuschia-100: rgba(178, 34, 34, 1);
  --fuschia-80: rgba(232, 29, 29, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --header-1-font-family: Georgia, serif;
  --header-1-font-weight: 700;
  --header-1-font-size: 34px;
  --header-1-letter-spacing: -0.68px;
  --header-1-line-height: normal;
  --header-1-font-style: normal;
  --header-2-font-family: Georgia, serif;
  --header-2-font-weight: 700;
  --header-2-font-size: 20px;
  --header-2-letter-spacing: -0.4px;
  --header-2-line-height: normal;
  --header-2-font-style: normal;
  --body-font-family: Georgia, serif;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: -0.26px;
  --body-line-height: normal;
  --body-font-style: normal;
  --jhjgjghj-font-family: Georgia, serif;
  --jhjgjghj-font-weight: 400;
  --jhjgjghj-font-size: 14px;
  --jhjgjghj-letter-spacing: 0px;
  --jhjgjghj-line-height: 16px;
  --jhjgjghj-font-style: normal;
}

.element-registration {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-registration .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 375px;
  height: 812px;
  position: relative;
}

.element-registration .hai-gi-un-account {
  position: absolute;
  top: 635px;
  left: 91px;
  font-family: Georgia, serif;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}

.element-registration .text-wrapper {
  color: #707684;
  letter-spacing: 0.5px;
  line-height: 22.5px;
}

.element-registration .span {
  color: #707684;
  letter-spacing: 0;
  line-height: 19.4px;
}

.element-registration .text-wrapper-2 {
  color: #199a8e;
  letter-spacing: 0;
  line-height: 22.5px;
}

.element-registration .button {
  position: absolute;
  width: 327px;
  height: 56px;
  top: 552px;
  left: 24px;
  background-color: #199a8e;
  border-radius: 32px;
  box-sizing: border-box;
}

.element-registration .text-wrapper-3 {
  position: absolute;
  top: 15px;
  left: 133px;
  font-family: Georgia, serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-registration .input-fields {
  height: 256px;
  top: 124px;
  left: 24px;
  position: absolute;
  width: 327px;
}

.element-registration .input {
  position: absolute;
  height: 56px;
  top: 144px;
  left: 0;
  background-color: #f9f9fb;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  width: 327px;
}

.element-registration .input-2 {
  position: absolute;
  height: 56px;
  top: 72px;
  left: 0;
  background-color: #f9f9fb;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  width: 327px;
}

.element-registration .input-3 {
  position: absolute;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #f9f9fb;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  width: 327px;
}

.element-registration .input-4 {
  position: absolute;
  height: 56px;
  top: 216px;
  left: 0;
  background-color: #f9f9fb;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  width: 327px;
}

.element-registration .input-5 {
  position: absolute;
  height: 56px;
  top: 288px;
  left: 0;
  background-color: #f9f9fb;
  border-radius: 24px;
  border: 1px solid;
  border-color: #e5e7eb;
  width: 327px;
}

.element-registration .text-wrapper-4 {
  position: absolute;
  top: 14px;
  left: 63px;
  font-family: Georgia, serif;
  font-weight: 400;
  color: #a0a7b0;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  background-color: #f9f9fb;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.element-registration .icon-eye-slash {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  left: 278px;
}

.element-registration .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  left: 23px;
}

.element-registration .terms-of-service {
  position: absolute;
  width: 329px;
  height: 36px;
  top: 278px;
  left: 0;
}

.element-registration .accetto-al {
  position: absolute;
  width: 287px;
  top: 78px;
  left: 40px;
  font-family: Georgia, serif;
  font-weight: 400;
  color: transparent;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.element-registration .text-wrapper-5 {
  color: #3b4353;
}

.element-registration .text-wrapper-6 {
  color: #199a8e;
}

.element-registration .checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 78px;
  left: 0;
}

.element-registration .top-bar {
  position: absolute;
  width: 375px;
  height: 100px;
  top: -8px;
  left: -1px;
}

.element-registration .hai-gia-un-account {
  position: absolute;
  width: 287px;
  top: 215px;
  left: 70px;
  font-family: Georgia, serif;
  font-weight: 400;
  color: transparent;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18.2px;
}

.element-registration .top {
  position: relative;
  width: 88px;
  height: 24px;
  top: 76px;
  left: 145px;
}

#myCheckbox:checked + label img {
  content: url('../images/registration/checkboxcheck.svg');
}

.element-registration .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Georgia, serif;
  font-weight: 700;
  color: #101522;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.3px;
  white-space: nowrap;
}