.element-home-logopedista {
  background-color: #52d1c6bd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Aggiunto per centrare verticalmente */
  width: 90%; /* Larghezza del 90% dello schermo */
  margin: 0 auto; /* Auto-margine per centrare orizzontalmente */
}

.element-home-logopedista .div {
  background-color: #52d1c6bd;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.element-home-logopedista .overlap {
  position: absolute;
  width: 100px;
  height: 41px;
  top: 38px;
  left: 781px;
  background-image: url(../images/homeTherapist/rectangle-359.svg);
  background-size: 100% 100%;
}

.element-home-logopedista .button-only-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 4px;
  position: relative;
  top: 12px;
  left: 11px;
  border-radius: 9999px;
}

.element-home-logopedista .button {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #199a8e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.element-home-logopedista .pop-up {
  position: absolute;
  width: 50vw;
  height: 80vh;
  top: 15vh;
  left: 30vw;
  background-color: #ffffff;
  border-radius: 24px;
}


.element-home-logopedista .overlap-group {
  position: absolute;
  width: 499px;
  height: 61px;
  top: 54px;
  left: 76px;
}

.element-home-logopedista .doctor {
  width: 499px;
  height: 61px;
  top: 0;
  position: absolute;
  left: 0;
}

.element-home-logopedista .group {
  height: 61px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #221f1f1a;
}

.element-home-logopedista .overlap-group-wrapper {
  position: relative;
  width: 282px;
  height: 16px;
  top: 20px;
  left: 118px;
}

.element-home-logopedista .overlap-group-2 {
  position: relative;
  width: 278px;
  height: 16px;
}

.element-home-logopedista .inizio-terapia-gg-mm {
  position: absolute;
  width: 164px;
  top: 3px;
  left: 114px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #221f1f66;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element-home-logopedista .text-wrapper {
  position: absolute;
  width: 228px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #221f1f;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element-home-logopedista .others-progress {
  position: absolute;
  width: 43px;
  height: 41px;
  top: 9px;
  left: 427px;
  background-image: url(../images/homeTherapist/ellipse-1-1.svg);
  background-size: 100% 100%;
}

.element-home-logopedista .element-wrapper {
  position: relative;
  height: 41px;
  background-image: url(../images/homeTherapist/ellipse-2.svg);
  background-size: 100% 100%;
}

.element-home-logopedista .element {
  position: absolute;
  width: 41px;
  top: 8px;
  left: 2px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #199a8e;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element-home-logopedista .image {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 6px;
  left: 20px;
  background-image: url(../images/homeTherapist/ellipse-28.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-home-logopedista .overlap-2 {
  position: absolute;
  width: 507px;
  height: 312px;
  top: 136px;
  left: 68px;
}

.element-home-logopedista .doctor-2 {
  width: 507px;
  height: 312px;
  top: 0;
  position: absolute;
  left: 0;
}

.element-home-logopedista .group-wrapper {
  position: absolute;
  width: 499px;
  height: 61px;
  top: 0;
  left: 8px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #221f1f1a;
}

.element-home-logopedista .div-wrapper {
  position: absolute;
  width: 499px;
  height: 61px;
  top: 87px;
  left: 8px;
}

.element-home-logopedista .doctor-3 {
  position: absolute;
  width: 499px;
  height: 61px;
  top: 174px;
  left: 0;
}

.element-home-logopedista .doctor-4 {
  width: 499px;
  height: 61px;
  top: 251px;
  position: absolute;
  left: 0;
}

.element-home-logopedista .overlap-wrapper {
  top: 94px;
  left: 435px;
  background-image: url(../images/homeTherapist/ellipse-1-1.svg);
  position: absolute;
  width: 43px;
  height: 41px;
  background-size: 100% 100%;
}

.element-home-logopedista .others-progress-2 {
  top: 11px;
  left: 436px;
  background-image: url(../images/homeTherapist/ellipse-1-1.svg);
  position: absolute;
  width: 43px;
  height: 41px;
  background-size: 100% 100%;
}

.element-home-logopedista .others-progress-3 {
  top: 185px;
  left: 435px;
  background-image: url(../images/homeTherapist/ellipse-1-1.svg);
  position: absolute;
  width: 43px;
  height: 41px;
  background-size: 100% 100%;
}

.element-home-logopedista .others-progress-4 {
  top: 261px;
  left: 437px;
  background-image: url(../images/homeTherapist/ellipse-1-1.svg);
  position: absolute;
  width: 43px;
  height: 41px;
  background-size: 100% 100%;
}

.element-home-logopedista .image-2 {
  position: absolute;
  width: 47px;
  height: 299px;
  top: 8px;
  left: 28px;
}

.element-home-logopedista .ellipse {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element-home-logopedista .image-3 {
  position: absolute;
  width: 47px;
  height: 213px;
  top: 86px;
  left: 0;
}

.element-home-logopedista .image-4 {
  position: absolute;
  width: 47px;
  height: 125px;
  top: 88px;
  left: 0;
}

.element-home-logopedista .image-5 {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 77px;
  left: 0;
  background-image: url(../images/homeTherapist/ellipse-28.png);
  background-size: cover;
  background-position: 50% 50%;
}



.element-home-logopedista .text-wrapper-2 {
  position: absolute;
  width: 64px;
  top: 16px;
  left: 294px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #221f1f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element-home-logopedista .overlap-3 {
  position: absolute;
  width: 116px;
  height: 530px;
  top: 40px;
  left: 65px;
}

.element-home-logopedista .rectangle-2 {
  width: 98px;
  height: 530px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  border-radius: 30px;
}

.element-home-logopedista .group-2 {
  position: absolute;
  width: 24px;
  height: 174px;
  top: 161px;
  left: 37px;
}

.element-home-logopedista .iconly-light-outline {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.element-home-logopedista .home {
  position: absolute;
  width: 20px;
  height: 22px;
  top: 1px;
  left: 2px;
}

.element-home-logopedista .iconly-bold-calendar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 98px;
  left: 0;
}

.element-home-logopedista .iconly-light-message {
  top: 49px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
}

.element-home-logopedista .iconly-light-profile {
  top: 150px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
}

.element-home-logopedista .img {
  position: absolute;
  width: 77px;
  height: 83px;
  top: 369px;
  left: 18px;
}

.element-home-logopedista .logovettoriale {
  position: absolute;
  width: 63px;
  height: 75px;
  top: 39px;
  left: 17px;
  object-fit: cover;
}

.element-home-logopedista .line {
  position: absolute;
  width: 75px;
  height: 1px;
  top: 132px;
  left: 11px;
  object-fit: cover;
}

.element-home-logopedista .text-wrapper-3 {
  position: absolute;
  width: 102px;
  top: 467px;
  left: 14px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #221f1f;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.element-home-logopedista .ellipse-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 444px;
  left: 57px;
}

.element-home-logopedista .material-symbols-wrapper {
  position: absolute;
  width: 301px;
  height: 50px;
  top: 35px;
  left: 292px;
  background-image: url(../images/homeTherapist/rectangle-32.png);
  background-size: 100% 100%;
}

.element-home-logopedista .material-symbols {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  left: 15px;
}

.element-home-logopedista .img-wrapper {
  position: absolute;
  width: 132px;
  height: 39px;
  top: 40px;
  left: 621px;
  background-color: #ffffff;
  border-radius: 50px;
}

.element-home-logopedista .material-symbols-2 {
  position: absolute;
  width: 17px;
  height: 14px;
  top: 11px;
  left: 17px;
}
