/*---ONE PATIENT----*/
.singolo-paziente {
    background-color: #52d1c6bd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.singolo-paziente .group-5 {
    position: absolute;
    width: 145px;
    height: 38px;
    top: 185px;
    left: 68px;
}

.singolo-paziente .overlap-3 {
    position: relative;
    width: 175px;
    height: 38px;
    top: 10vh;
    left: 37vw;
    background-image: url(../images/homeTherapist/rectangle-351.svg);
    background-size: 100% 100%;
}

.singolo-paziente .text-wrapper-2 {
    position: absolute;
    width: 107px;
    top: 11px;
    left: 36px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .group-6 {
    position: absolute;
    width: 174px;
    height: 39px;
    top: 183px;
    left: 415px;
}

.singolo-paziente .overlap-4 {
    position: relative;
    width: 172px;
    height: 39px;
    top: 10vh;
    left: 39vw;
    background-image: url(../images/homeTherapist/rectangle-351.svg);
    background-size: 100% 100%;
}

.singolo-paziente .text-wrapper-3 {
    position: absolute;
    width: 144px;
    top: 12px;
    left: 14px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .button-chat {
    position: absolute;
    width: 46px;
    height: 44px;
    top: 35vh;
    left: 58vw;
    background-color: #e8f3f1;
    border-radius: 15px;
}

.singolo-paziente .iconly-light-chat {
    position: absolute;
    width: 22px;
    height: 21px;
    top: 11px;
    left: 12px;
}

.singolo-paziente .line {
    position: absolute;
    width: 592px;
    height: 1px;
    top: 244px;
    left: 31px;
    object-fit: cover;
}

.singolo-paziente .overlap-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 552px;
    height: 248px;
    top: 51vh;
    left: 42vw;
    background-color: #f7f5f5;
    border-radius: 29px;
}

.singolo-paziente .overlap-5-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 552px;
    height: 248px;
    top: 51vh;
    left: 42vw;
    border-radius: 29px;
}

.singolo-paziente .overlap-5 .errorProgress {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singolo-paziente .img {
    position: absolute;
    width: 239px;
    height: 144px;
    top: 20px;
    left: 43px;
}

.singolo-paziente .vector {
    position: absolute;
    width: 216px;
    height: 37px;
    top: 67px;
    left: 49px;
}

.singolo-paziente .text-wrapper-4 {
    position: absolute;
    top: 157px;
    left: 275px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.singolo-paziente .text-wrapper-5 {
    position: absolute;
    width: 38px;
    top: 25px;
    left: 19px;
    transform: rotate(-90deg);
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 10px;
    white-space: nowrap;
}

.singolo-paziente .line-2 {
    position: absolute;
    width: 1px;
    height: 70px;
    top: 88px;
    left: 92px;
}

.singolo-paziente .line-3 {
    position: absolute;
    width: 1px;
    height: 84px;
    top: 75px;
    left: 205px;
}

.singolo-paziente .line-4 {
    position: absolute;
    width: 1px;
    height: 89px;
    top: 69px;
    left: 265px;
}

.singolo-paziente .line-5 {
    position: absolute;
    width: 1px;
    height: 70px;
    top: 89px;
    left: 148px;
}

.singolo-paziente .ellipse-2 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 65px;
    left: 263px;
    background-color: #199a8e;
    border-radius: 2px;
}

.singolo-paziente .ellipse-3 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 72px;
    left: 203px;
    background-color: #199a8e;
    border-radius: 2px;
}

.singolo-paziente .ellipse-4 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 86px;
    left: 146px;
    background-color: #199a8e;
    border-radius: 2px;
}

.singolo-paziente .ellipse-5 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 87px;
    left: 90px;
    background-color: #199a8e;
    border-radius: 2px;
}

.singolo-paziente .text-wrapper-6 {
    top: 161px;
    left: 80px;
    position: absolute;
    width: 25px;
    transform: rotate(-29.62deg);
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .text-wrapper-7 {
    top: 161px;
    left: 136px;
    position: absolute;
    width: 25px;
    transform: rotate(-29.62deg);
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .text-wrapper-8 {
    top: 161px;
    left: 193px;
    position: absolute;
    width: 25px;
    transform: rotate(-29.62deg);
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .text-wrapper-9 {
    top: 162px;
    left: 253px;
    position: absolute;
    width: 25px;
    transform: rotate(-29.62deg);
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 6px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.singolo-paziente .text-wrapper-10 {
    position: absolute;
    top: 44vh;
    left: 55vw;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #101522;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

/*---INFO TABLE---*/
.table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

img {
    width: 50px;
    height: 50px;
}
/*--HOME LAYOUT--*/

html {
    margin: 0px;
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    background-color: #52d1c6bd;
    font-family: "Poppins", Helvetica, serif;
}

a {
    text-decoration: none;
}

.element-home-logopedista {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.element-home-logopedista .div {

    width: 100vw;
    height: 100vh;
    position: relative;
}

.element-home-logopedista .overlap {
    position: absolute;
    width: 124px;
    height: 48px;
    top: 36px;
    left: 72vw;
    background-image: url(../images/homeTherapist/rectangle-359.svg);
    background-size: 100% 100%;
}

.element-home-logopedista .button-only-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0px 4px;
    position: relative;
    top: 12px;
    left: 11px;
    border-radius: 9999px;
}

.element-home-logopedista .button {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #199a8e;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
}

.element-home-logopedista .pop-up {
    position: absolute;
    width: 50vw;
    height: 85vh;
    top: 6vh;
    left: 30vw;
    background-color: #ffffff;
    border-radius: 24px;
}

.element-home-logopedista .text-wrapper-2 {
    position: absolute;
    width: 10vw;
    top: 2vh;
    left: 23vw;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #221f1f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-home-logopedista .overlap-group {
    position: absolute;
    width: 600px;
    height: 61px;
    top: 80px;
    left: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-home-logopedista .doctor {
    width: 499px;
    height: 61px;
    top: 0;
    position: absolute;
    left: 0;
}

.element-home-logopedista .group {
    height: 61px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #221f1f1a;
}

.element-home-logopedista .overlap-group-wrapper {
    position: relative;
    width: 282px;
    height: 16px;
    top: 20px;
    left: 118px;
}

.element-home-logopedista .overlap-group-2 {
    position: relative;
    width: 278px;
    height: 16px;
}

.element-home-logopedista .inizio-terapia-gg-mm {
    position: absolute;
    width: 164px;
    top: 3px;
    left: 114px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #221f1f66;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element-home-logopedista .text-wrapper {
    position: absolute;
    width: 228px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #221f1f;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.element-home-logopedista .others-progress {
    position: absolute;
    width: 43px;
    height: 41px;
    top: 9px;
    left: 427px;
    background-image: url(../images/homeTherapist/ellipse-1-1.svg);
    background-size: 100% 100%;
}

.element-home-logopedista .element-wrapper {
    position: relative;
    height: 41px;
    background-image: url(../images/homeTherapist/ellipse-2.svg);
    background-size: 100% 100%;
}

.element-home-logopedista .element {
    position: relative;
    top: 8px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #199a8e;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
}


.element-home-logopedista .overlap-2 {
    position: absolute;
    width: 507px;
    height: 312px;
    top: 136px;
    left: 68px;
}

.element-home-logopedista .doctor-2 {
    width: 507px;
    height: 312px;
    top: 0;
    position: absolute;
    left: 0;
}

.element-home-logopedista .group-wrapper {
    position: absolute;
    width: 499px;
    height: 61px;
    top: 0;
    left: 8px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid;
    border-color: #221f1f1a;
}

.element-home-logopedista .div-wrapper {
    position: absolute;
    width: 499px;
    height: 61px;
    top: 87px;
    left: 8px;
}

.element-home-logopedista .doctor-3 {
    position: absolute;
    width: 499px;
    height: 61px;
    top: 174px;
    left: 0;
}

.element-home-logopedista .doctor-4 {
    width: 499px;
    height: 61px;
    top: 251px;
    position: absolute;
    left: 0;
}

.element-home-logopedista .overlap-wrapper {
    top: 94px;
    left: 435px;
    background-image: url(../images/homeTherapist/ellipse-1-1.svg);
    position: absolute;
    width: 43px;
    height: 41px;
    background-size: 100% 100%;
}

.element-home-logopedista .others-progress-2 {
    top: 11px;
    left: 436px;
    background-image: url(../images/homeTherapist/ellipse-1-1.svg);
    position: absolute;
    width: 43px;
    height: 41px;
    background-size: 100% 100%;
}

.element-home-logopedista .others-progress-3 {
    top: 185px;
    left: 435px;
    background-image: url(../images/homeTherapist/ellipse-1-1.svg);
    position: absolute;
    width: 43px;
    height: 41px;
    background-size: 100% 100%;
}

.element-home-logopedista .others-progress-4 {
    top: 261px;
    left: 437px;
    background-image: url(../images/homeTherapist/ellipse-1-1.svg);
    position: absolute;
    width: 43px;
    height: 41px;
    background-size: 100% 100%;
}

.element-home-logopedista .image-2 {
    position: absolute;
    width: 47px;
    height: 299px;
    top: 8px;
    left: 28px;
}

.element-home-logopedista .ellipse {
    position: absolute;
    width: 47px;
    height: 48px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.element-home-logopedista .image-3 {
    position: absolute;
    width: 47px;
    height: 213px;
    top: 86px;
    left: 0;
}

.element-home-logopedista .image-4 {
    position: absolute;
    width: 47px;
    height: 125px;
    top: 88px;
    left: 0;
}


.element-home-logopedista .overlap-3 {
    position: absolute;
    width: 116px;
    height: 530px;
    top: 40px;
    left: 65px;
}

.element-home-logopedista .rectangle-2 {
    width: 98px;
    height: 530px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    position: absolute;
    border-radius: 30px;
}

.element-home-logopedista .group-2 {
    position: absolute;
    width: 24px;
    height: 174px;
    top: 161px;
    left: 37px;
}

.element-home-logopedista .iconly-light-outline {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

.element-home-logopedista .home {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 1px;
    left: 2px;
}

.element-home-logopedista .iconly-bold-calendar {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 98px;
    left: 0;
}

.element-home-logopedista .iconly-light-message {
    top: 49px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
}

.element-home-logopedista .iconly-light-profile {
    top: 150px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
}

.element-home-logopedista .img {
    position: absolute;
    width: 47%;
    height: 55px;
    top: 400px;
    left: 22px;
}

.element-home-logopedista .logovettoriale {
    position: absolute;
    width: 63px;
    height: 75px;
    top: 39px;
    left: 17px;
    object-fit: cover;
}

.element-home-logopedista .line {
    position: absolute;
    width: 75px;
    height: 1px;
    top: 132px;
    left: 11px;
    object-fit: cover;
}

.element-home-logopedista .text-wrapper-3 {
    position: absolute;
    width: 102px;
    top: 467px;
    left: 0px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #221f1f;
    font-size: 10px;
    letter-spacing: 0;
    text-align: center; /* Allinea il testo al centro orizzontalmente */
    line-height: normal;
}

.element-home-logopedista .ellipse-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 450px;
    left: 65px;
}

.element-home-logopedista .material-symbols-wrapper {
    position: absolute;
    width: 340px;
    height: 50px;
    top: 35px;
    left: 30vw;
    background-image: url(../images/homeTherapist/rectangle-32.png);
    background-size: 100% 100%;
}

.element-home-logopedista .material-symbols {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    left: 15px;
}

.element-home-logopedista .img-wrapper {
    position: absolute;
    width: 175px;
    height: 48px;
    top: 36px;
    left: 57vw;
    background-color: #ffffff;
    border-radius: 50px;
}

.element-home-logopedista .material-symbols-2 {
    position: absolute;
    width: 17px;
    height: 14px;
    top: 11px;
    left: 17px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
}